body {
    background-color: #f5f5ef;
    font-family: 'Segoe UI', sans-serif;
}

#sidebar {
    background-color: #3f5643;
    color: #fff;
    min-height: 100vh;
}

    #sidebar .nav-link {
        color: #e4e4e4;
    }

        #sidebar .nav-link.active,
        #sidebar .nav-link:hover {
            background-color: #2f4032;
            border-radius: 8px;
        }

.card {
    background: white;
    border: none;
    border-radius: 10px;
}

    .card h4 {
        font-size: 1.5rem;
    }

.badge {
    font-size: 0.85rem;
    border-radius: 1rem;
    padding: 0.4em 0.8em;
}
